#board {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.24), 0 1px 1px 0 rgba(0,0,0,.19);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.24), 0 1px 1px 0 rgba(0,0,0,.19);
}
#scroll-top-button {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 1px 1px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 1px 1px 0 rgba(0,0,0,0.12);
}
.view .mask {
    background-color: rgba(0,0,0,0) !important; 
}

body a {
    color: #3c4858;
}

.markdown-body a {
    color: #519D9E;
}
